*,
*::before,
::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  /* background: linear-gradient(to right, #00aaff, #00ff6c); */
  background-image: linear-gradient(
    to right top,
    #62507d,
    #594b77,
    #504570,
    #47406a,
    #3e3b63,
    #37365d,
    #2f3257,
    #282d51,
    #20284a,
    #172344,
    #0f1e3d,
    #051937
  );
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

/* -------ATTRIBUTION------- */
.attribution {
  display: grid;
  grid-column: 1/-1;
  color: hsl(217deg, 12%, 63%);
  margin-top: 50px;
  text-align: center;
}
.attribution a {
  text-decoration: none;
}
.attribution a:link,
.attribution a:visited {
  color: #d4a418;
}
.attribution a:hover,
.attribution a:active {
  color: hsl(0deg, 0%, 100%);
}
